language: android
jdk:
- oraclejdk8
android:
  components:
  - platform-tools
  - tools
  - extra-android-support
  - extra-google-google_play_services
  - extra-android-m2repository
  - extra-google-m2repository

before_install:
- openssl aes-256-cbc -K $encrypted_9ffb2be68e1b_key -iv $encrypted_9ffb2be68e1b_iv
  -in keys/play_store_key.json.enc -out keys/play_store_key.json -d
- openssl aes-256-cbc -K $encrypted_1de50180da55_key -iv $encrypted_1de50180da55_iv
  -in keys/keystore.properties.enc -out keys/keystore.properties -d
- openssl aes-256-cbc -K $encrypted_af4792e87a8b_key -iv $encrypted_af4792e87a8b_iv
  -in keys/v2_key.jks.enc -out keys/v2_key.jks -d
- touch $HOME/.android/repositories.cfg
- yes | sdkmanager "platforms;android-29"
- yes | sdkmanager "build-tools;28.0.3"

script:
  - "./gradlew test"
  - if [ "$TRAVIS_BRANCH" = "master" ]; then ./gradlew publishReleaseBundle --track beta; fi
 #  - if [ "$TRAVIS_BRANCH" = "develop" ]; then ./gradlew publishReleaseBundle --track alpha; fi
env:
  global:
  - secure: kxFugt0bp+H7W8FPGlyiLVQGheDQ2XiYA/XnzHV8adm0M+pV7/xFt4/7G3rthfqv9+rzsMmZrTqcXYnHMTObLGNTv/+1ZGx8d2DBLFrrRyVcsA6mbOSrDC9eK0RtRTmN9L3POS9aXceUiLUODkv50uYSFqWSyzsR46uIL7QV80zoSUfITXRQPw7OOIyJmdSmVn7ekMhDzHLlHE95ZCN6bLaRPxJnzwzKBvKoYHJS/hHlT7EmIupH0boKJJfSX6yHj/jY1seY5j8oCoSX76IP8443xk+4dFafciYNN0LwB4Q0GDouazOX0ZOkIz8JgndNBtHvCFp6IGXQ8jeso4ZvFd1mlCQssUPit/3xvZUpOFtUgLb6xLdGwXqQPwIfvCtczRcZ7St3/Qpd72bcfmPJ8ZoXgS6PYAM+7z88UxmwaT6F6BoOo503HfkyRq2aAa6tjKeMm0ggsRpUBJnBe2sFaTnN9lTmRf1jCUTJl8caitJ+rQAAkMg0duVMnD7N62eF2s8UP3HLCgyztwE44+fLGiTwfX9r/Y06EVr9tzk6vCBGKmBtkZsM+AF1jPtsdaus9jfIfzfZ4OLNcjUVCcBOpf/3KOosN5+pUVwHsUHZ34zCUevY0u//pcY4mFmbQIkorTLZMqfuaao8TKV6nIgesHFgLzR7TrXEBY/BXh34GI8=
  - secure: totd64euP/eKE55UDWwn+DYhpDuhUR0/GxGmXxOfLdHhsdB4hSZ6RKREEGnp9j24+uyJ5iz7kVZUf8OxGoiBMwZDOsyrt7JB0/8+LisP5cdS951oUhKT6Aeh4A+NU20k8TYq+l+u6CDTcOkxpDkpOh3xuKOlevh2GOV1J+JxkgsMHoQ2D1H8DZLCEa38vb64Ly+b0qnqsJkW7C9rMRRq/VLrC2uDZM958RPGIZvM56HcCMnMkj/gf7+V2t+asJFK4BfB+UJgHGKT6nE3H2RjN6BflMgAXWAKuRISaAPRweH7tCTAHn/0uMMD+uq/jdv3KhAeT3CSCP0xxAJpCQTwrTnRzfLQDthvqAicXtx0SjtpPWn2iRhpUbX3HrAitjKR9v7wx2roiwAN49yq3ezhd6bE+0F+MFqHXCJwDfPMMTvtfLmxmqXtDTQpekTxzqiDF2Q9jTXdQE04AAXYB6sHOCFr6scC4B+iRxgK3nE2U4fH/xziuLq2/o20FxGeTFXyunI7boARHacLPP69EKe3fg38LkTXsqIvFmqlGbZ0YGxswpNpuQ3BOpbrITUhvJtQG984Gt64jdwilKX6E5138soZLIN1wVHczRel6nbQ/Scx9kW1hZQJqDqYwe/ZUtUcEmwFrX9yA/AiBAMAZBN5/3/g9c3lM7jNaRR38l8tv4s=
  - secure: Al8/UKVI2Y6fPJ/pHJffuTE/VAES2uGArQUe7DGOCaVcIdlCcBeXHM4pSIfNOnwfY376wZ/pZJm7fRD7+YxgtMppvQj4ogcIMZOLdbbFkG05MB0iJM7xSU8c/EyNNPwRYP5RVbW/JGV53npnwq8Hk8DFzR9Zh5BUWlK77+L4FdsStpWpujv4P89JW4hi1GT8+7q9rUdf6tiDvDQzzars7/VJJCE8HhlNQxMctD13DxZilv8nOV6hdARclxUSIj6ufrvMci0eGqQWamYDs4q6apqzXJu5+aH/NsXpl9LeIj0gquOvkUrmgSG/5K9fcLtHX2ARxgqNQ8pYi1pWmmFy+kK+WTh2PDlvq1eZGEX62b7tj+nHkDPswx3g3+0+1CNw86XKSu0zZqyMt1HpcN67kYslcxgnhHR50bhDn07IiqsVEVNng9xbkPmQmWfzDLS7yHdVGUdE2KRowuiA8HtVT2nGtlY5e+YDHdmhHRdlkGjUlPuDMtO4OjB7sYBdDXi28pbRz0xrrEYF6hmapwjcYRpHD3JF4Mo94yk39pkmEipnvnTqz6/RVK3mZmcZstxCinM4bB6iSwcHYlygDq8nMemmAW4UzHCp66WjOQYVEOlIJY+kfOEk2nfGWaYDCOJhEc9iLAC8TZYWMQujl5Jfg2NEG4G8WCvjxxHeTjW9xWY=
  - secure: sd65pMc1N0hCSUPAmqSXf4tHxej+oOI+XKT+d7RymXg9MHehSaLGWQSRGUK7iNDVdYhIxduANn7NF/rctGdTc6Qx0LOJFpWjDCKMI6HBzPE+bc7XopFy3YVWlAEcUNmAM6AwWBQ1XUbbglMU6tyrFLjja3Nz3KxqnqpA+pjY1MubvjrI6gAt9Q5/wVBQQjTbVTfwRHIB2IWbgdRj5oFviBB87sZuOUavUSL7rGVW/UiCW82W7UJlX1Rn2cNvlmYoA1G/IFWyJhwvQa+Vdzvk3wHbMnnTWW/PM5MpZNpNiAkzGpN/horqqCn+WURgBjK1fVaQYLax31FCq8F0FKhoGUgX63IeQRH/Axr7sj2vrfC3eup3JkyXnZQruZREhY5ayO+0dIrLMhhQ26YfI2gywbFUIWadoyVaHmJIxUZcjgFZHp5jgaJ30DwdOfa63xggaPhFWZlXa/Yr/sclfFTqcyrL/nQiAPSmOqgl6T8gXPDojYkqLrtnGaNC4uhhCewls16ATM8fwI3azppVl6ZGj2SN7XVAyI5mgo4hqr8CptZQVB1Dc+fgXflPfJeRPH+945ymAoBW9TlLA3VWpaUxCmr9GJxXnHxs/UHGqGfnF++WtyBcoHdBTSg8tfcT57JKPJQumxI6R7EgZFOP4YwnMzsma9eHEDbW6m48tf1AxLs=
