html, body {
  padding:0;
  margin: 0;
}


#ss-wrapper, #ss-wrapper-font, #ss-wrapper-size, #ss-wrapper-theme {

}

#ss-wrapper-theme {
  padding: 20px;
}

.ss-wrapper-andada {
  font-family: 'andada', serif;
}

.ss-wrapper-lato {
  font-family: 'lato', sans-serif;
}

.ss-wrapper-pt-serif {
  font-family: 'pt serif', sans-serif;
}

.ss-wrapper-pt-sans {
  font-family: 'pt sans', sans-serif;
}

.ss-wrapper-tiny {
  font-size: .8em;
  line-height: 1.2em;
}

.ss-wrapper-small {
  font-size: 1em;
  line-height: 1.4em;
}

.ss-wrapper-medium {
  font-size: 1.2em;
  line-height: 1.5em;
}

.ss-wrapper-large {
  font-size: 1.4em;
  line-height: 1.6em;
}

.ss-wrapper-huge {
  font-size: 1.6em;
  line-height: 1.7em;
}

.ss-wrapper-light {
  background-color: #fdfdfd;
  color: #222;
}

.ss-wrapper-sepia {
  background-color: #fbf0d9;
  color: #5b4636;
}

.ss-wrapper-sepia code, .ss-wrapper-sepia blockquote {
  background-color: #efebe4;
}

.ss-wrapper-dark {
  background-color: #292929;
  color: #ccc;
}

.ss-wrapper-dark code, .ss-wrapper-dark blockquote {
  background-color: #525252;
}

.ss-wrapper p {
  padding: 0 0 10px 0;
}

.highlight_orange {
  background-color: #F59569;
  color: #222 !important;
}

.highlight_yellow {
  background-color: #FFF3A0;
  color: #222 !important;
}

.highlight_green {
  background-color: #63D724;
  color: #222 !important;
}

.highlight_blue {
  background-color: #69D2F5;
  color: #222 !important;
}

a.verse {
  border-bottom: 1px solid #16a365;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 0.2em;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 0;
  padding: 0.5em 10px;
}

blockquote > p {
  margin: 0 0 10px 0;
  font-variant: small-caps;
  font-weight: bold;
}

code {
  font-family: inherit;
  background: #f9f9f9;
  padding: 20px;
  display: block;
  font-weight: bold;
  border-radius: 3px;
}

.textarea {
  font-weight: normal;
  color: #222;
  resize: none;
  width: 100%;
  display: block;
  line-height: inherit;
  border: 0;
  outline: 0;
  min-height: 70px;
  padding: 5px 20px;
  border-radius: 0 !important;
  background-color: #F8F5DB;
  background-attachment: local;
  background-size: 100% 26px;
  background-image: -webkit-linear-gradient(#dedede 1px, rgba(0, 0, 0, 0) 1px);
}

h3 {
  font-variant: small-caps;
}