#ss-wrapper {
  padding: 20px;
  font-size: 1.2em;
}

.ss-wrapper-andada {
  font-family: 'andada', serif;
}

.ss-wrapper-lato {
  font-family: 'lato', sans-serif;
}

.ss-wrapper-pt-serif {
  font-family: 'pt serif', sans-serif;
}

.ss-wrapper-pt-sans {
  font-family: 'pt sans', sans-serif;
}

.ss-wrapper p {
  padding: 0 0 10px 0;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 0;
  padding: 0.5em 10px;
}

blockquote > p {
  margin: 0 0 10px 0;
  font-variant: small-caps;
  font-weight: bold;
}

code {
  font-family: inherit;
  background: #f9f9f9;
  padding: 20px;
  display: block;

}

code .textarea {
  margin-top: 20px;
  margin-left:-20px;
  margin-right:-20px;
  margin-bottom: -20px;
  display: block;
  font-size: 13px;
  line-height: 26px;
  font-family: "PT Serif", serif;
  background-color: #F8F5DB;
  background-image: -webkit-linear-gradient(#DEE2D0 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 100% 26px;
  border: 0;
  outline: 0;
  min-height: 75px;
  padding: 7px 20px;
  border-radius: 0 !important;
  background-attachment: local;
}

h3 {
  font-variant: small-caps;
}