<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.quarterlies.QuarterliesActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SS" />

        <activity
            android:name=".ui.quarterlies.list.QuarterliesListActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SS" />

        <activity
            android:name=".ui.lessons.SSLessonsActivity"
            android:label="@string/blank"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.quarterlies.QuarterliesActivity"
            android:theme="@style/Theme.SS">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.quarterlies.QuarterliesActivity" />
        </activity>

        <activity
            android:name=".ui.readings.SSReadingActivity"
            android:label="@string/blank"
            android:parentActivityName=".ui.lessons.SSLessonsActivity"
            android:theme="@style/Theme.SS.Full"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.lessons.SSLessonsActivity" />
        </activity>
    </application>

</manifest>
