<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2016 Adventech <info@adventech.io>
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in
  ~ all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~ THE SOFTWARE.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cryart.sabbathschool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/ss_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true"
        android:supportsPictureInPicture="true"
        android:name="com.cryart.sabbathschool.SSApplication">

        <activity
            android:name="com.cryart.sabbathschool.view.SSSplashActivity"
            android:theme="@style/SSSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.cryart.sabbathschool.view.SSLoginActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden"
                  android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.cryart.sabbathschool.view.SSQuarterliesActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:launchMode="singleTask"
                  android:configChanges="orientation|screenSize" />

        <activity android:name=".view.SSLessonsActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|screenSize"
                  android:parentActivityName="com.cryart.sabbathschool.view.SSQuarterliesActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.cryart.sabbathschool.view.SSQuarterliesActivity" />
        </activity>

        <activity android:name="com.cryart.sabbathschool.view.SSReadingActivity"
                  android:theme="@style/AppTheme.NoActionBar.NoStatusBar"
                  android:configChanges="orientation|screenSize"
                  android:windowSoftInputMode="adjustResize"
                  android:parentActivityName="com.cryart.sabbathschool.view.SSLessonsActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".view.SSLessonsActivity" />
        </activity>

        <activity
            android:name="com.cryart.sabbathschool.view.SSBibleVersesActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.BibleVersesTheme" />

        <activity android:name="com.cryart.sabbathschool.view.SSMyNotesActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|screenSize" />

        <activity android:label="My Highlights"
                  android:name="com.cryart.sabbathschool.view.SSMyHighlightsActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|screenSize" />

        <activity android:label="Settings"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:configChanges="orientation|screenSize"
                  android:name="com.cryart.sabbathschool.view.SSSettingsActivity"
                  android:windowSoftInputMode="adjustResize" />

        <activity android:name="com.cryart.sabbathschool.view.SSAboutActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|screenSize" />

        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/ss_app_name" />

        <activity android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:screenOrientation="sensor"
                  android:theme="@style/FinestWebViewTheme.Light" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <uses-library android:required="false" android:name="com.sec.android.app.multiwindow" />
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />

        <service android:name="com.cryart.sabbathschool.misc.SSReminderService" />

        <receiver android:name="com.commonsware.cwac.wakeful.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

            <meta-data
                android:name="com.commonsware.cwac.wakeful"
                android:resource="@xml/ss_reminder" />
        </receiver>

        <service
            android:name="com.cryart.sabbathschool.service.SSNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.cryart.sabbathschool.service.SSInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>