<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="app.ss.readings.SSReadingActivity"
            android:label="@string/blank"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SS.Full"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>