name: CI

on:
  push:

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Decrypt secrets
        run: ./release/decrypt-secrets.sh
        env:
          ENCRYPT_KEY: ${{ secrets.ENCRYPT_KEY }}

      - name: Run ktlint
        run: ./gradlew ktlint

      - name: Run Android lint
        run: ./gradlew lintDebug

      - name: Run unit tests
        run: ./gradlew testDebugUnitTest

      - name: Generate build number
        if: github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/main'
        run: echo "BUILD_NUMBER=${{github.run_number}}" > app/build_number.properties

      - name: Build Release
        if: github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/main'
        run: ./gradlew app:bundleRelease --stacktrace

      - name: Publish to Internal track
        if: github.ref == 'refs/heads/develop'
        uses: r0adkll/upload-google-play@v1.0.15
        with:
          serviceAccountJson: release/play-account.json
          packageName: com.cryart.sabbathschool
          track: internal
          whatsNewDirectory: distribution/whatsnew
          releaseFiles: app/build/outputs/bundle/release/app-release.aab
          mappingFile: app/build/outputs/mapping/release/mapping.txt

      - name: Publish to Alpha track
        if: github.ref == 'refs/heads/main'
        uses: r0adkll/upload-google-play@v1.0.15
        with:
          serviceAccountJson: release/play-account.json
          packageName: com.cryart.sabbathschool
          track: alpha
          whatsNewDirectory: distribution/whatsnew
          releaseFiles: app/build/outputs/bundle/release/app-release.aab
          mappingFile: app/build/outputs/mapping/release/mapping.txt
