name: Pull Request CI

on:
  pull_request:
    branches:
      - develop

jobs:
  testing:
    name: Test Suite [Instrumented]

    runs-on: macos-latest
    strategy:
      matrix:
        api-level: [23]
        target: [google_apis]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Gradle cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}-${{ hashFiles('**/buildSrc/**/*.kt') }}

      - name: AVD cache
        uses: actions/cache@v2
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.api-level }}

      - name: create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Decode Firebase google-services.json
        env:
          FIREBASE_CONFIG: ${{secrets.FIREBASE_CONFIG}}
        run: echo $FIREBASE_CONFIG > app/google-services.json

      - name: Generate api keys
        env:
          API_SECRETS: ${{secrets.API_SECRETS}}
        run: 'echo "$API_SECRETS" > release/ss_api_keys.properties'

      - name: Execute Instrumentation Tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{matrix.api-level}}
          target: ${{matrix.target}}
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: ./gradlew app:connectedCheck --stacktrace
